
<div class="filter-panel">
  <form class="filter-form-search">
    <mat-form-field class="search-product-input">
      <mat-label>Producto</mat-label>
      <input type="text" matInput [formControl]="productControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
        @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option.description| uppercase}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div class="filter-btns">
    <button mat-raised-button (click)="openNewProductDialog()" matTooltip="Crear nuevo producto" matTooltipPosition="below" class="new-product-btn">Nuevo Producto</button>
    @if(selectedProduct){
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item aria-label="Editar registro" (click)="openEditProduct()" [disabled]="!this.selectedProduct" matTooltip="Editar producto" matTooltipPosition="below">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button mat-menu-item aria-label="Borrar registro" (click)="openAskYoNDeleteProductDialog()" [disabled]="!this.selectedProduct" matTooltip="Eliminar producto" matTooltipPosition="below">
          <mat-icon>delete</mat-icon>
          <span>Eliminar</span>
        </button>
      </mat-menu>
    }
  </div>
</div>

@if(selectedProduct && !loading){

  <div class="selected-product-message">
    <p>Producto seleccionado: <span>{{selectedProduct.description | uppercase}}</span></p>
    <p>Creado: <span>{{ selectedProduct.createdAt | date: 'HH:mm' }} - {{ selectedProduct.createdAt | date: 'dd/MM/yy' }}</span> Usuario: <span>{{selectedProduct.userId.username}}</span></p>
    <p>Actualizado: <span>{{ selectedProduct.updatedAt | date: 'HH:mm' }} - {{ selectedProduct.updatedAt | date: 'dd/MM/yy' }}</span> Usuario: <span>{{selectedProduct.userRevisor.username}}</span> </p> 
  </div>

  @if(quotes && quotes.length>0){
    <!-- Tabla -->
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>

      <!-- CreatedAt Column -->
      <ng-container matColumnDef="createdAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por fecha de carga" class="createdAt">
          Fecha
        </th>
        <td mat-cell class="createdAt" *matCellDef="let element" matTooltipPosition="below" [matTooltip]="'Cargado por: ' + element.userId.username" matTooltipClass="custom-toltip" matTooltipPosition="below">{{ element.createdAt | date: 'HH:mm' }} - {{ element.createdAt | date: 'dd/MM/yy' }}</td>
      </ng-container>

      <!-- Proveedor Column -->
      <ng-container matColumnDef="proveedor">
        <th class="proveedor" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por proveedor">
          Proveedor
        </th>
        <td class="proveedor" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.proveedor"> {{element.proveedor | uppercase}} </td>
      </ng-container>

      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <th class="precio" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por precio">
          Precio
        </th>
        <td class="precio" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.precio"> {{element.precio | currency:"ARS"}} </td>
      </ng-container>

      <!-- Descuento Column -->
      <ng-container matColumnDef="descuento1">
        <th class="descuento" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por descuento 1">
          Dto. 1
        </th>
        <td class="descuento" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.descuento1"> {{(element.descuento1 / 100) | percent: '1.2-2'}} </td>
      </ng-container>

      <!-- Descuento Column -->
      <ng-container matColumnDef="descuento2">
        <th class="descuento" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por descuento 2">
          Dto. 2
        </th>
        <td class="descuento" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.descuento2"> {{(element.descuento2 / 100) | percent: '1.2-2'}} </td>
      </ng-container>


      <!-- IVA Column -->
      <ng-container matColumnDef="iva">
        <th class="iva" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por IVA">
          IVA
        </th>
        <td class="iva" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.iva"> {{ (element.iva / 100) | percent: '1.2-2' }} </td>
      </ng-container>

      

      <!-- precio final Column -->
      <ng-container matColumnDef="precioFinal">
        <th class="precioFinal" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por precioFinal">
          Precio Final
        </th>
        <td class="precioFinal" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.precioFinal"> {{element.precioFinal | currency:"ARS"}} </td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="marca">
        <th class="marca" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Marca">
          Marca
        </th>
        <td class="marca" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.marca"> {{element.marca | uppercase}} </td>
      </ng-container>

      <!-- Marca Column -->
      <ng-container matColumnDef="plazo">
        <th class="plazo" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Plazo">
          Plazo
        </th>
        <td class="plazo" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.plazo"> {{element.plazo | uppercase}} </td>
      </ng-container>

      <!-- Observacion Column -->
      <ng-container matColumnDef="observacion">
        <th class="observacion" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Obs.">
          Obs.
        </th>
        <td class="observacion" mat-cell *matCellDef="let element" matTooltipPosition="below" [matTooltip]="element.observacion"> {{element.observacion}} </td>
      </ng-container>

      <!-- Stock Column -->
      <ng-container matColumnDef="stock">
        <th class="stock" mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Stock">
          Stock
        </th>
        <td class="stock" mat-cell *matCellDef="let element">
          <div [ngClass]="{'circle-green': element.stock, 'circle-red': !element.stock}" [matTooltip]="formatTooltip(element)" matTooltipClass="custom-toltip" matTooltipPosition="below" (click)="updateStock(element._id,element.stock)"></div>
        </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <!-- (click)="selection.toggle(row)" => si quiero que al hacer click se active el checkbox -->
    </table>
  }
  @else {
    <div class="alert-msg"><mat-icon>alert</mat-icon>¡Aun no se han cargado registros de precios! Comenzá a agregar haciendo click en "+"</div>
  }
  <div class="table-buttons">
    <button mat-icon-button aria-label="Nuevo registro" (click)="openNewQuoteDialog()" matTooltip="Agregar nuevo registro de precio" matTooltipPosition="below">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="recordsmenu" aria-label="Menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #recordsmenu="matMenu">
      <button mat-menu-item [disabled]="selection.selected.length!==1" aria-label="Editar registro" (click)="openEditQuoteDialog()" matTooltip="Editar registro de precio" matTooltipPosition="below">
        <mat-icon>edit</mat-icon>
        <span>Editar</span>
      </button>
      <button mat-menu-item [disabled]="selection.selected.length===0" aria-label="Borrar registro" (click)="openAskYoNDeleteQuotesDialog()" matTooltip="Eliminar registro de precio" matTooltipPosition="below">
        <mat-icon>delete</mat-icon>
        <span>Eliminar</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>download</mat-icon>
        <span>Export</span>
      </button>
    </mat-menu>
  </div>
}
