.btn-actions{
    display: flex;
    justify-content: end;
}

.proveedor-input{
    width: 100%;
}

/* Ocultar las flechitas del input */
.precio-input input[type="number"]::-webkit-outer-spin-button,
.precio-input input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.field-wrapper{
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.field-wrapper>*{
    margin: 3px;
}

.observacion-input{
    width: 100%;
}